@import "../../../material/project";

.Footer{
    text-align: center;
    background-color: $background;
    border-top: 1px solid $border;
    padding-top: 40px;
    padding-bottom: 40px;
    color: $grey;
}

.Footer-text{
    padding-top: 10px;
    opacity: 0.8;
    color: $grey;
}

.Footer-link{
    text-decoration: none;
    color: $grey !important;
    font-weight: 400;
}

.Footer-link:hover{
    text-decoration: underline;
}

.Footer-logo{
    width: 49px;
    height: 46px;
}
