<md-content>
	<section layout="row" flex>
		<app-sidebar></app-sidebar>
		<div layout="column" layout-align="top" flex>
			<md-toolbar class="app-toolbar md-whiteframe-1dp">
				<div class="md-toolbar-tools">
					<h2 flex md-truncate>Dashboard</h2>
				</div>
			</md-toolbar>
			<md-content class="app-content" flex>
				sss
			</md-content>
		</div>
	</section>
</md-content>