@import "../../../material/project";

body{
    font-family: 'roboto', sans-serif;
    background: #f4f5f7;
    line-height: 1.5;
}

.Landing{
    height: 100%;
}

.Landing-cover{
    background-color: #00A4C6;
    background-image: url('/img/cover.jpg');
    background-size: cover;
    width: 100%;
    height: 700px;
}

.Landing-heading,
.Landing-subtitle{
    color: white;
}

.Landing-headingLight{
    font-weight: 300;
    letter-spacing: -3px;
}

.Landing-heading{
    color: white;
    margin-top: 20px;
    font-size: 60px;
    text-align: center;
    letter-spacing: -1px;
}

.Landing-subtitle{
    opacity: 0.7;
    text-align: center;
}

.Landing-getStarted{
    padding: 12px 30px;
    font-weight: bold;
    color: $black !important;
    border-radius: 4px;
    transition: box-shadow 250ms;
}

.Landing-getStarted:hover{
    box-shadow: 0 4px 5px -2px rgba(0,0,0,.2),
    0 7px 10px 1px rgba(0,0,0,.14),
    0 2px 16px 1px rgba(0,0,0,.12) !important;
}

.Landing-laravelAngular{
    position: relative;
}

.Landing-ampersand{
    font-size: 50px;
    color: $brand;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 300;
}

.Landing-angular{
    background-color: $background;
    border-left: 1px solid $border;
}

.Landing-laravel,
.Landing-angular{
    text-align: center;
    color: $navy;
    border-bottom: 1px solid $border;
}

.Landing-laravelAngular-title{
    padding-top: 30px;
    margin-bottom: 15px;
    font-weight: 300;
    letter-spacing: -1px;
    color: $navy;
}

.Landing-laravelAngular-subtitle{
    color: $black;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 300;
}

.DemoCode{
    font-family: "Lucida Console", Monaco, monospace;
    overflow: auto !important;
    padding: 10px 10px 10px 20px;
    line-height: 1.428571429;
    color: #333333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 80%;
    margin: 30px auto 100px;
    text-align: left;
    font-size: 14px;
}

.DemoCode-highlight{
    color: #DD4A68;
}

.DemoCode-comment{
    color: $grey;
}

.DemoCode-operator{
    color: $grey;
}

.DemoCode-string{
    color: #690;
}

.DemoCode-secondary{
    color: #07A;
}

.Landing-features{
    text-align: center;
    margin: 60px 10px;
}

.Landing-featuresMainTitle{
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 15px;
    color: $navy;
}

.Landing-featuresMainDescription{
    width: 70%;
    margin: 0 auto 30px;
    color: $black;
    font-weight: 300;
}

.Landing-featuresEntry{
    width: 176px;
    height: 176px;
    border-radius: 50%;
    margin: 40px auto 20px;
}

.Landing-featuresEntry-icon{
    height: 100%;
}

.Landing-featuresTitle{
    color: $navy;
    letter-spacing: -1px;
    margin-top: 40px;
}

.Landing-featuresDescription{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 300;
    color: $black;
}

.Landing-featuresEntry--restful{
    background-color: $brand;
}

.Landing-featuresEntry--jwt{
    background-color: #EF704D;
}

.Landing-featuresEntry--generators{
    background-color: #25C0CC;
}

.Landing-featuresEntry--restful md-icon{
    width: 100px;
}
.Landing-featuresEntry--jwt md-icon{
    width: 80px;
}

.Landing-featuresEntry--generators md-icon{
    width: 80px;
}




md-content.md-default-theme, md-content {
    background: transparent;
}
.paper {
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    background: #FFF;
    border-radius: 4px;
}