<div layout="row" layout-xs="column" layout-padding>
  <div flex="45">
	  <strong class="md-block">Your Shop Details</strong>
   	<p> We need your shop details to get started. A register and few sample products will be automatically created so that you can quickly checkout.</p>
  </div>
  <div flex="55">
  			 <form name="setupShopForm" ng-submit="shopDetails.createshop(setupShopForm)" novalidate>
				   <md-input-container  class="md-block">
						<label>Business type</label>
						<md-select name="selectedBusinesstype" placeholder="Please select business type" ng-model="shopDetails.selectedBusinesstype" md-selected-text="shopDetails.getSelectedBusinessType()" required>
						<md-option  ng-value="item" ng-repeat="item in shopDetails.businessTypes">{{item}}</md-option>
						
						</md-select>
						<div class="md-validation-error" ng-show="setupShopForm.selectedBusinesstype.$error.required">
							You must an options before you can proceed.
						</div>
						
						
					</md-input-container>

					<md-input-container class="md-block">
						<label>Shop Name</label>
						<input ng-model="shopDetails.name" required name="shopName">
						<div class="md-validation-error" ng-show="setupShopForm.shopName.$error.required">
							You must enter valid shop name before you can proceed.
						</div>
					</md-input-container>

					<md-input-container class="md-block">
						<label>Shop City</label>
						<input ng-model="shopDetails.city" required name="shopCity">
						<div class="md-validation-error" ng-show="setupShopForm.shopCity.$error.required">
							You must enter valid City before you can proceed.
						</div>
					</md-input-container>

					<md-input-container class="md-block">
						<label>Shop Owner PIN</label>
						<input ng-model="shopDetails.userPIN" type="number" ng-minlength="4" ng-maxlength="4" name="userPIN">
						<div class="md-validation-error" ng-show="setupShopForm.userPIN.$error.minlength || setupShopForm.userPIN.$error.maxlength">
							PIN must be 4 digit.
						</div>
					</md-input-container>

					<md-input-container>
							<md-switch class="md-primary" name="roundOff" ng-model="shopDetails.roundOff">
							Roundoff Currency
							</md-switch>
							<!-- div class="md-validation-error" ng-show="submitted && setupShopForm.roundOff.$error.required" >
								You must enable roundOff option before you can proceed.
							</div -->
					</md-input-container>
				<md-button type="submit" class="LoginForm-submit md-primary md-raised">Start Selling</md-button>
				</form>
  </div>
</div>	

