<md-sidenav class="app-sidebar md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')" md-whiteframe="4">
	<md-toolbar class="app-sidebar-header">
		<a class="md-toolbar-tools" flex layout="column" layout-align="center">BossPOS</a>
	</md-toolbar>
	<md-content>
		<ul class="app-menu">
			<li>
				<a class="active" ui-sref="#">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 27.02 27.02" style="enable-background:new 0 0 27.02 27.02;" xml:space="preserve" width="16px" height="16px">
						<path d="M3.674,24.876c0,0-0.024,0.604,0.566,0.604c0.734,0,6.811-0.008,6.811-0.008l0.01-5.581   c0,0-0.096-0.92,0.797-0.92h2.826c1.056,0,0.991,0.92,0.991,0.92l-0.012,5.563c0,0,5.762,0,6.667,0   c0.749,0,0.715-0.752,0.715-0.752V14.413l-9.396-8.358l-9.975,8.358C3.674,14.413,3.674,24.876,3.674,24.876z" fill="#FFFFFF"/>
						<path d="M0,13.635c0,0,0.847,1.561,2.694,0l11.038-9.338l10.349,9.28c2.138,1.542,2.939,0,2.939,0   L13.732,1.54L0,13.635z" fill="#FFFFFF"/>
						<polygon points="23.83,4.275 21.168,4.275 21.179,7.503 23.83,9.752  " fill="#FFFFFF"/>
					</svg>

					Dashboard
				</a>
			</li>
			<li>
				<a ui-sref="#">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 484.27 484.27" style="enable-background:new 0 0 484.27 484.27;" xml:space="preserve" width="16px" height="16px">
						<path d="M404.935,13.744H79.336C35.586,13.744,0,49.329,0,93.07c0,43.75,35.587,79.337,79.336,79.337h0.883v249.462     c0,6.478,2.52,12.559,7.095,17.131l24.347,24.364c7.122,6.997,19.229,7.083,26.508-0.104l15.191-15.207l15.301,15.311     c7.124,6.98,19.229,7.092,26.51-0.095l15.206-15.216l15.308,15.311c7.107,6.98,19.225,7.092,26.503-0.095l15.213-15.216     l16.783,16.808c7.105,6.981,19.229,7.076,26.508-0.095l16.722-16.713l16.877,16.872c3.498,3.562,8.369,5.601,13.363,5.601     c4.983,0,9.677-1.922,13.319-5.509L396.962,439c4.569-4.572,7.089-10.654,7.089-17.131V172.406h0.884     c43.749,0,79.335-35.587,79.335-79.337C484.27,49.329,448.683,13.744,404.935,13.744z M371.777,418.542l-11.528,11.542     c-0.684,0.685-1.611,1.069-2.578,1.069c-0.968,0-1.896-0.385-2.579-1.068l-14.472-14.481c-3.546-3.491-8.245-5.414-13.223-5.414     c-5.012,0-9.721,1.956-13.269,5.508l-14.158,14.144c-0.684,0.683-1.611,1.067-2.578,1.066c-0.967,0-1.895-0.385-2.577-1.07     l-14.207-14.235c-7.095-6.972-19.212-7.067-26.491,0.095l-12.647,12.64c-1.423,1.423-3.73,1.422-5.153-0.001l-12.731-12.733     c-7.089-6.972-19.206-7.067-26.492,0.095l-12.646,12.639c-0.684,0.683-1.611,1.067-2.578,1.067s-1.894-0.385-2.577-1.068     l-12.725-12.732c-7.105-6.972-19.212-7.075-26.509,0.103l-12.628,12.628c-0.684,0.684-1.611,1.068-2.578,1.068     s-1.895-0.385-2.578-1.069l-9.78-9.792V118.288h259.283L371.777,418.542L371.777,418.542z M404.935,123.992h-0.884v-9.71     c0-15.583-12.67-28.271-28.274-28.271H108.493c-15.587,0-28.274,12.679-28.274,28.266v9.715h-0.883     c-17.051,0-30.922-13.869-30.922-30.922c0-17.042,13.872-30.911,30.922-30.911h325.599c17.05,0,30.921,13.869,30.921,30.911     C435.856,110.123,421.985,123.992,404.935,123.992z" fill="#FFFFFF"/>
						<path d="M159.304,191.074h94.813c8.916,0,16.134-7.226,16.134-16.14c0-8.911-7.218-16.137-16.134-16.137h-94.813     c-8.922,0-16.14,7.226-16.14,16.137C143.164,183.848,150.382,191.074,159.304,191.074z" fill="#FFFFFF"/>
						<path d="M159.304,255.626h159.361c8.921,0,16.14-7.227,16.14-16.138c0-8.913-7.219-16.14-16.14-16.14H159.304     c-8.922,0-16.14,7.227-16.14,16.14C143.164,248.399,150.382,255.626,159.304,255.626z" fill="#FFFFFF"/>
					</svg>

					Sell
				</a>
			</li>
			<li>
				<a ui-sref="#">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 468.7 468.7" style="enable-background:new 0 0 468.7 468.7;" xml:space="preserve" width="18px" height="18px">
						<path d="M449.35,0h-430c-6.6,0-12,5.4-12,12s5.4,12,12,12h25.9v432.4c0,4.4,2.4,8.5,6.3,10.6s8.6,1.9,12.3-0.6l52.1-34.7    l52.3,34.8c4,2.7,9.3,2.7,13.3,0l52.1-34.7l52.3,34.8c4,2.7,9.3,2.7,13.3,0l52.1-34.7l52.3,34.8c2,1.3,4.3,2,6.6,2    c1.9,0,3.9-0.5,5.7-1.4c3.9-2.1,6.3-6.2,6.3-10.6l-0.2-432.4h27.3c6.6,0,12-5.4,12-12S455.95,0,449.35,0z M398.35,434l-40.3-26.8    c-4-2.7-9.3-2.7-13.3,0l-52.1,34.8l-52.3-34.8c-4-2.7-9.3-2.7-13.3,0l-52.1,34.7l-52.3-34.7c-4-2.7-9.3-2.7-13.3,0l-40.1,26.7    v-410h329L398.35,434z" fill="#FFFFFF"/>
						<path d="M124.45,191.6h125.7c6.6,0,12-5.4,12-12s-5.4-12-12-12h-125.7c-6.6,0-12,5.4-12,12S117.75,191.6,124.45,191.6z" fill="#FFFFFF"/>
						<path d="M124.45,233.3h94.2c6.6,0,12-5.4,12-12s-5.4-12-12-12h-94.2c-6.6,0-12,5.4-12,12S117.75,233.3,124.45,233.3z" fill="#FFFFFF"/>
						<path d="M312.95,191.6h31.4c6.6,0,12-5.4,12-12s-5.4-12-12-12h-31.4c-6.6,0-12,5.4-12,12S306.25,191.6,312.95,191.6z" fill="#FFFFFF"/>
						<path d="M312.95,233.3h31.4c6.6,0,12-5.4,12-12s-5.4-12-12-12h-31.4c-6.6,0-12,5.4-12,12S306.25,233.3,312.95,233.3z" fill="#FFFFFF"/>
						<path d="M124.45,95.3h125.7c6.6,0,12-5.4,12-12c0-6.6-5.4-12-12-12h-125.7c-6.6,0-12,5.4-12,12    C112.45,89.9,117.75,95.3,124.45,95.3z" fill="#FFFFFF"/>
						<path d="M124.45,136.9h94.2c6.6,0,12-5.4,12-12s-5.4-12-12-12h-94.2c-6.6,0-12,5.4-12,12S117.75,136.9,124.45,136.9z" fill="#FFFFFF"/>
						<path d="M312.95,95.3h31.4c6.6,0,12-5.4,12-12c0-6.6-5.4-12-12-12h-31.4c-6.6,0-12,5.4-12,12C300.95,89.9,306.25,95.3,312.95,95.3    z" fill="#FFFFFF"/>
						<path d="M312.95,136.9h31.4c6.6,0,12-5.4,12-12s-5.4-12-12-12h-31.4c-6.6,0-12,5.4-12,12S306.25,136.9,312.95,136.9z" fill="#FFFFFF"/>
						<path d="M124.45,289.1h125.7c6.6,0,12-5.4,12-12s-5.4-12-12-12h-125.7c-6.6,0-12,5.4-12,12S117.75,289.1,124.45,289.1z" fill="#FFFFFF"/>
						<path d="M124.45,330.7h94.2c6.6,0,12-5.4,12-12s-5.4-12-12-12h-94.2c-6.6,0-12,5.4-12,12S117.75,330.7,124.45,330.7z" fill="#FFFFFF"/>
						<path d="M312.95,289.1h31.4c6.6,0,12-5.4,12-12s-5.4-12-12-12h-31.4c-6.6,0-12,5.4-12,12S306.25,289.1,312.95,289.1z" fill="#FFFFFF"/>
						<path d="M312.95,330.7h31.4c6.6,0,12-5.4,12-12s-5.4-12-12-12h-31.4c-6.6,0-12,5.4-12,12S306.25,330.7,312.95,330.7z" fill="#FFFFFF"/>
					</svg>
					Sales Ledger
				</a>
			</li>
			<li>
				<a ui-sref="#">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve" width="16px" height="16px">
	<path d="M38.914,0H6.5v60h47V14.586L38.914,0z M39.5,3.414L50.086,14H39.5V3.414z M8.5,58V2h29v14h14v42H8.5z" fill="#FFFFFF"/>
	<path d="M42.5,21h-16c-0.552,0-1,0.447-1,1s0.448,1,1,1h16c0.552,0,1-0.447,1-1S43.052,21,42.5,21z" fill="#FFFFFF"/>
	<path d="M22.875,18.219l-4.301,3.441l-1.367-1.367c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414l2,2   C17.987,23.901,18.243,24,18.5,24c0.22,0,0.441-0.072,0.624-0.219l5-4c0.432-0.346,0.501-0.975,0.156-1.406   C23.936,17.943,23.306,17.874,22.875,18.219z" fill="#FFFFFF"/>
	<path d="M42.5,32h-16c-0.552,0-1,0.447-1,1s0.448,1,1,1h16c0.552,0,1-0.447,1-1S43.052,32,42.5,32z" fill="#FFFFFF"/>
	<path d="M22.875,29.219l-4.301,3.441l-1.367-1.367c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414l2,2   C17.987,34.901,18.243,35,18.5,35c0.22,0,0.441-0.072,0.624-0.219l5-4c0.432-0.346,0.501-0.975,0.156-1.406   C23.936,28.943,23.306,28.874,22.875,29.219z" fill="#FFFFFF"/>
	<path d="M42.5,43h-16c-0.552,0-1,0.447-1,1s0.448,1,1,1h16c0.552,0,1-0.447,1-1S43.052,43,42.5,43z" fill="#FFFFFF"/>
	<path d="M22.875,40.219l-4.301,3.441l-1.367-1.367c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414l2,2   C17.987,45.901,18.243,46,18.5,46c0.22,0,0.441-0.072,0.624-0.219l5-4c0.432-0.346,0.501-0.975,0.156-1.406   C23.936,39.943,23.306,39.874,22.875,40.219z" fill="#FFFFFF"/>
</svg>

					</svg>
					Products
				</a>
			</li>
			<li>
				<a ui-sref="#">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 488.6 488.6" style="enable-background:new 0 0 488.6 488.6;" xml:space="preserve" width="16px" height="16px">
						<path d="M480.9,333.2c-27.2-22.3-56.5-37.1-62.4-40c-0.7-0.3-1.1-1-1.1-1.8v-42.3c5.3-3.5,8.8-9.6,8.8-16.5v-43.9    c0-21.8-17.7-39.5-39.5-39.5H382h-4.7c-21.8,0-39.5,17.7-39.5,39.5v43.9c0,6.9,3.5,12.9,8.8,16.5v42.3c0,0.3-0.1,0.5-0.1,0.7    c8.3,5.7,17,12.1,25.5,19.1c9.9,8.2,15.6,20.2,15.6,33.2v35.3h101v-30.1C488.6,343.3,485.8,337.2,480.9,333.2z" fill="#FFFFFF"/>
						<path d="M360.5,325.1c-31.9-26.2-66.3-43.6-73.4-47.1c-0.8-0.4-1.3-1.2-1.3-2.1v-49.7c6.3-4.2,10.4-11.3,10.4-19.3v-51.6    c0-25.6-20.8-46.4-46.4-46.4h-5.5h-5.5c-25.6,0-46.4,20.8-46.4,46.4v51.5c0,8.1,4.1,15.2,10.4,19.3v49.7c0,0.9-0.5,1.7-1.3,2.1    c-7,3.4-41.4,20.8-73.4,47.1c-5.8,4.7-9.1,11.8-9.1,19.3v35.3h125.3h125.3v-35.3C369.6,336.9,366.3,329.8,360.5,325.1z" fill="#FFFFFF"/>
						<path d="M142,291.4v-42.3c5.3-3.5,8.8-9.6,8.8-16.5v-43.9c0-21.8-17.7-39.5-39.5-39.5h-4.7h-4.7c-21.8,0-39.5,17.7-39.5,39.5v43.9    c0,6.9,3.5,12.9,8.8,16.5v42.3c0,0.7-0.4,1.4-1.1,1.8c-6,2.9-35.3,17.7-62.4,40c-4.9,4-7.7,10.1-7.7,16.4v30.1h101v-35.3    c0-12.9,5.7-25,15.6-33.2c8.5-7,17.2-13.4,25.5-19.1C142.1,291.9,142,291.7,142,291.4z" fill="#FFFFFF"/>
					</svg>
					Customers
				</a>
			</li>
			<li>
				<a ui-sref="#">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 231.233 231.233" style="enable-background:new 0 0 231.233 231.233;" xml:space="preserve" width="16px" height="16px">
						<path d="M230.505,102.78c-0.365-3.25-4.156-5.695-7.434-5.695c-10.594,0-19.996-6.218-23.939-15.842  c-4.025-9.855-1.428-21.346,6.465-28.587c2.486-2.273,2.789-6.079,0.705-8.721c-5.424-6.886-11.586-13.107-18.316-18.498  c-2.633-2.112-6.502-1.818-8.787,0.711c-6.891,7.632-19.27,10.468-28.836,6.477c-9.951-4.187-16.232-14.274-15.615-25.101  c0.203-3.403-2.285-6.36-5.676-6.755c-8.637-1-17.35-1.029-26.012-0.068c-3.348,0.37-5.834,3.257-5.723,6.617  c0.375,10.721-5.977,20.63-15.832,24.667c-9.451,3.861-21.744,1.046-28.621-6.519c-2.273-2.492-6.074-2.798-8.725-0.731  c-6.928,5.437-13.229,11.662-18.703,18.492c-2.133,2.655-1.818,6.503,0.689,8.784c8.049,7.289,10.644,18.879,6.465,28.849  c-3.99,9.505-13.859,15.628-25.156,15.628c-3.666-0.118-6.275,2.345-6.68,5.679c-1.016,8.683-1.027,17.535-0.049,26.289  c0.365,3.264,4.268,5.688,7.582,5.688c10.07-0.256,19.732,5.974,23.791,15.841c4.039,9.855,1.439,21.341-6.467,28.592  c-2.473,2.273-2.789,6.07-0.701,8.709c5.369,6.843,11.537,13.068,18.287,18.505c2.65,2.134,6.504,1.835,8.801-0.697  c6.918-7.65,19.295-10.481,28.822-6.482c9.98,4.176,16.258,14.262,15.645,25.092c-0.201,3.403,2.293,6.369,5.672,6.755  c4.42,0.517,8.863,0.773,13.32,0.773c4.23,0,8.461-0.231,12.692-0.702c3.352-0.37,5.834-3.26,5.721-6.621  c-0.387-10.716,5.979-20.626,15.822-24.655c9.514-3.886,21.752-1.042,28.633,6.512c2.285,2.487,6.063,2.789,8.725,0.73  c6.916-5.423,13.205-11.645,18.703-18.493c2.135-2.65,1.832-6.503-0.689-8.788c-8.047-7.284-10.656-18.879-6.477-28.839  c3.928-9.377,13.43-15.673,23.65-15.673l1.43,0.038c3.318,0.269,6.367-2.286,6.768-5.671  C231.476,120.379,231.487,111.537,230.505,102.78z M115.616,182.27c-36.813,0-66.654-29.841-66.654-66.653  s29.842-66.653,66.654-66.653s66.654,29.841,66.654,66.653c0,12.495-3.445,24.182-9.428,34.176l-29.186-29.187  c2.113-4.982,3.229-10.383,3.228-15.957c0-10.915-4.251-21.176-11.97-28.893c-7.717-7.717-17.978-11.967-28.891-11.967  c-3.642,0-7.267,0.484-10.774,1.439c-1.536,0.419-2.792,1.685-3.201,3.224c-0.418,1.574,0.053,3.187,1.283,4.418  c0,0,14.409,14.52,19.23,19.34c0.505,0.505,0.504,1.71,0.433,2.144l-0.045,0.317c-0.486,5.3-1.423,11.662-2.196,14.107  c-0.104,0.103-0.202,0.19-0.308,0.296c-0.111,0.111-0.213,0.218-0.32,0.328c-2.477,0.795-8.937,1.743-14.321,2.225l0.001-0.029  l-0.242,0.061c-0.043,0.005-0.123,0.011-0.229,0.011c-0.582,0-1.438-0.163-2.216-0.94c-5.018-5.018-18.862-18.763-18.862-18.763  c-1.242-1.238-2.516-1.498-3.365-1.498c-1.979,0-3.751,1.43-4.309,3.481c-3.811,14.103,0.229,29.273,10.546,39.591  c7.719,7.718,17.981,11.968,28.896,11.968c5.574,0,10.975-1.115,15.956-3.228l29.503,29.503  C141.125,178.412,128.825,182.27,115.616,182.27z" fill="#FFFFFF"/></svg>
						Setup
					</a>
				</li>
			</ul>
			<div class="app-sidebar-footer">
				Akshay Sonawane
			</div>
		</md-content>
	</md-sidenav>