.app-sidebar {
    background-color: #351d59;
    font-size: 16px;
    color: white;
    width: 272px;
    min-width: 272px;
    max-width: 272px;
    .app-sidebar-header {
    	background: #692cab;
    }
    .layout-column {
    	padding: 0 30px;
    }
    md-content {
    	height: calc(100vh - 64px);
    }
    .app-sidebar-footer {
    	position: absolute;
    	bottom: 0;
    	padding: 30px;
    }
}
.app-menu {
	margin: 40px 0 20px;
	padding: 0;
	a {
		color: #FFF;
		display: block;
		opacity: .3;
		padding: 14px 30px;
		transition: all .25s ease;
		&.active,
		&:hover {
			opacity: 1;
		}
		&.active {
			background: #3f2961;
			box-shadow: 3px 0 0 #fff inset;
		}
		svg {
			vertical-align: middle;
			margin-right: 5px;
		}
	}
}

md-sidenav {
	min-height: 100vh;
}