<md-content>
	<section layout="row" flex>
		<app-sidebar></app-sidebar>
		<div layout="column" layout-align="top" flex>			
			<md-toolbar class="app-toolbar md-whiteframe-1dp">
				<div class="md-toolbar-tools">
					<h2 flex md-truncate>New Product Setup</h2>
				</div>
			</md-toolbar>
			<md-content class="Page-container">
				<div class="Login-formContainer" layout="column" layout-align="center center">
					<setup-product></setup-product>
				</div>
			</md-content>			
		</div>
	</section>
</md-content>